
header {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#title {
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title img {
    width: 10%;
    height: auto;
    margin-right: .5em;
}

#add {
    margin-left: 1em;
}

#add svg {
    width: 100%;
}

#search {
    margin-left: 1em;
}

#search svg {
    width: 100%;
}

#right a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#right span {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-right: 1em;
    text-align: center;
}

#right svg {
    height: 50%;
    width: 20%;
}