
#content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#filters {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#filters button {
    background-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    width: 50%;
    border: solid white 2px;
    font-family: 'Poppins';
    padding: 10px;
    margin-bottom: 5%;
}

 #filters-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

.filter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.filter h1 {
    user-select: none;
    font-family: 'Poppins';
    font-size: 1em;
}

.filter div {
    overflow-y: auto; 
    scrollbar-width: thin;
    width: 80%;
    border-top: solid white 2px;
}

.filter div .option {
    user-select: none;
    font-family: 'Montserrat';
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter div .option:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.option.selected {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.poster-container {
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    overflow-y: auto;
}

.poster-container .image-container {
    margin: 5px;
}