
#content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#filters { 
    
    width: 20%;
    height: 100%;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.507);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

#filters button{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    width: 50%;
    border: solid white 2px;
    font-family: 'Poppins';
    padding: 10px;
    margin-bottom: 5%;
    cursor:pointer;
}

 #filters-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
 }

.filter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.filter h1 {
    user-select: none;
    font-family: 'Poppins';
    font-size: 1em;
}

.filter div {
    overflow-y: auto; 
    scrollbar-width: thin;
    width: 80%;
    border-top: solid white 2px;
}

.hidden {
    display: none;
}

.poster-container {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    row-gap: 10px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.507);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

label{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 5px;
    width: 70%;

    font-family: 'Poppins';
    font-size: small;
    padding: 2px;
    margin-bottom: 10px;
    cursor:pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked+label{
    border: solid 2px;
    border-color: rgb(255, 81, 0);
    background-color: #e0f0ff56;
  }